In [1]:
import pandas as pd
import numpy as np
import csv
import os
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
review_file = "google-play-store-apps/googleplaystore_user_reviews.csv"
review_df = pd.read_csv(review_file)
review_df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [3]:
app_file = "google-play-store-apps/googleplaystore.csv"
app_df = pd.read_csv(app_file)
app_df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
merge_df = pd.merge(app_df, review_df, on="App")
merge_df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,A kid's excessive ads. The types ads allowed a...,Negative,-0.250,1.000000
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,It bad >:(,Negative,-0.725,0.833333
2,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,like,Neutral,0.000,0.000000
3,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,NaN,NaN,NaN,NaN
4,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,I love colors inspyering,Positive,0.500,0.600000

In [5]:
drop_columns = ["Size",'Content Rating','Genres','Last Updated','Translated_Review','Sentiment_Polarity','Sentiment_Subjectivity']
clean_df = merge_df.drop(drop_columns, axis=1)
clean_df.head()

,App,Category,Rating,Reviews,Installs,Type,Price,Current Ver,Android Ver,Sentiment
0,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,2.0.0,4.0.3 and up,Negative
1,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,2.0.0,4.0.3 and up,Negative
2,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,2.0.0,4.0.3 and up,Neutral
3,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,2.0.0,4.0.3 and up,NaN
4,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,2.0.0,4.0.3 and up,Positive

In [6]:
clean_df = clean_df.dropna()
clean_df.count()

App            72576
Category       72576
Rating         72576
Reviews        72576
Installs       72576
Type           72576
Price          72576
Current Ver    72576
Android Ver    72576
Sentiment      72576
dtype: int64

In [7]:
import mysql.connector

database= mysql.connector.connect(
  host="localhost",
  user ="root",
  passwd ="Hazel2me$$"
)

mycursor = database.cursor()

mycursor.execute("CREATE DATABASE google")

DatabaseError: 1007 (HY000): Can't create database 'google'; database exists

In [8]:
engine = create_engine("mysql://root:Hazel2me$$@localhost:3306/google")

In [9]:
conn = engine.connect()

In [16]:
row_count = clean_df["App"].count()
print(row_count)

half = int(row_count/2)
third = int(row_count//3)
mod = row_count%14
print(mod)

fourteen = int(row_count/14)
print(fourteen)

72576
0
5184

In [17]:
testing= clean_df.iloc[:fourteen,:]

In [18]:
clean_df.iloc[152,:]

App            Garden Coloring Book
Category             ART_AND_DESIGN
Rating                          4.4
Reviews                       13791
Installs                 1,000,000+
Type                           Free
Price                             0
Current Ver                   2.9.2
Android Ver              3.0 and up
Sentiment                   Neutral
Name: 185, dtype: object

In [19]:
final_db =testing.to_sql("test3", conn, if_exists="append")

In [20]:
data = engine.execute("SELECT * FROM test3 LIMIT 5")
for x in data:
    print(x)

(0, 'Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '500,000+', 'Free', '0', '2.0.0', '4.0.3 and up', 'Negative')
(1, 'Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '500,000+', 'Free', '0', '2.0.0', '4.0.3 and up', 'Negative')
(2, 'Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '500,000+', 'Free', '0', '2.0.0', '4.0.3 and up', 'Neutral')
(4, 'Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '500,000+', 'Free', '0', '2.0.0', '4.0.3 and up', 'Positive')
(5, 'Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '500,000+', 'Free', '0', '2.0.0', '4.0.3 and up', 'Negative')